//-------------------------------------------------------------------
// bu.blocks
//-------------------------------------------------------------------
// HTML elements:
//   section, blockquote, article, aside, code, main
//   pre, embed, footer, summary, table
//
// BU elements:
//   .bu.page, .bu.block
//-------------------------------------------------------------------

%block {
  margin : $buBlockMargin;
  padding: $buBlockPadding;
}

//-------------------------------------------------------------------
// element: .bu.page, .bu.block
//-------------------------------------------------------------------
.bu.content .bu.page {
  width   : 100%;
  height  : 100%;
  padding : 0 0;
  margin  : 0 0;
  overflow: hidden;
}
.bu.content .bu.block {
  @extend %block;
}

//-------------------------------------------------------------------
// element: blockquote, pre, code, section
//-------------------------------------------------------------------
.bu.content {
  blockquote, pre, code, section { @extend %block; }

  blockquote {
    & > * {
      padding-left : 0;
      padding-right: 0;
    }
  }
  pre, code {
    word-break: break-word; // wrap around long lines
    font-style: normal;
    font-size : 100%;
  }
}
