//
// bu.blocks
//
// HTML elements:
//   section, blockquote, article, aside, code, main
//   pre, dl, ol, ul, embed, footer, summary, table
//
// BU elements:
//   bu-block

.bu.content %block {
  margin: 0 0 $buBlockMarginBottom 0;
}

/* bu-block */
[bu-block] {
  @extend %block;
}

.bu.content blockquote {
  padding: $buBlockPadding;
  background-color: lighten($buColorLight, 10%);
  & > p {
    padding: 0 0 0 0;
  }
}

.bu.content pre,
.bu.content code {
  margin    : 0 0 $buBlockMarginBottom 0;
  word-break: break-word; // wrap around long lines
  font-style: normal;
  font-size : 100%;
}

//---------------------------------------------------------
// element: ul, ol
//---------------------------------------------------------
ol, ul {
  @extend %block;

  padding   : $buParagraphPadding;
  margin    : .25rem 0 0 0 !important;
  text-align: left;
  li {
    padding: 0 0;
  }
}

.bu.content {
  ul ol,
  ol ul,
  ul ul,
  ol ol {
    margin-bottom: 0;
    padding: 0 0 0 1.5rem;
  }
}

//---------------------------------------------------------
// element: dl, dt, dd
//---------------------------------------------------------
dl {
  @extend %block;

  dt {
    float: left;
    clear: left;
    font-family: $buFontSans;
    font-weight: bold;
  }
}
