//-------------------------------------------------------------------
// bu.colors
//-------------------------------------------------------------------
.bu.content {
  color: $buColorText; /* default color */
  background-color: transparent;

  h1, h2, h3, h4, h5, h6 { color: $buColorHeading; }
  blockquote { background-color: lighten($buColorLight, 10%); }
  a { color: $buColorDark; }
}
