//-------------------------------------------------------------------
// .bu.cover front/back styles for gutenberg book covers
//-------------------------------------------------------------------
.bu.content .bu.cover {
  section {
    margin : 0 0 !important;
    padding: 0 0 !important;
  }
}

.bu.content .bu.front.cover {

  // font-size multiplication rules
  // 1) small : 1   (base)
  // 2) medium: x 1.5
  // 3) large : x 2

  $padding-base: 1rem;
  $font-base   : 1rem;

  $font-base-series   : $font-base * 0.70;
  $font-base-title    : $font-base * 1.15;
  $font-base-sub-title: $font-base * 0.85;
  $font-base-author   : $font-base * 0.95;

  /* section: title */
  .title-section {

    background-color: darken($buColorDark, 10%);

    .meta {
      color      : white;
      text-align : center;
      line-height: 1.1;
      padding    : $padding-base $padding-base 0.5 * $padding-base $padding-base;

      &.title     { font-weight: bold; }
      &.sub-title { font-style: italic; }
    }

    /* series (bottom line) */
    .series {
      padding: 0.1 * $padding-base $padding-base 0.2 * $padding-base $padding-base;

      color         : lighten($buColorGreen, 10%);
      text-align    : right;
      font-family   : $buFontSans;
      letter-spacing: -1px;

      background-color: darken($buColorGreen, 20%);
    }
  }

  /* responsive font sizes */
  &.small {
    .series     { font-size: $font-base-series; }
    .title      { font-size: $font-base-title; }
    .sub-title  { font-size: $font-base-sub-title; }
    .author     { font-size: $font-base-author; }
  }
  &.medium {
    .series     { font-size: 1.5 * $font-base-series; }
    .title      { font-size: 1.5 * $font-base-title; }
    .sub-title  { font-size: 1.5 * $font-base-sub-title; }
    .author     { font-size: 1.5 * $font-base-author; }
  }
  &.large {
    .series     { font-size: 2 * $font-base-series; }
    .title      { font-size: 2 * $font-base-title; }
    .sub-title  { font-size: 2 * $font-base-sub-title; }
    .author     { font-size: 2 * $font-base-author; }
  }
}

.bu.content .bu.back.cover {

  $padding-base   : 1rem;
  $font-base      : 1rem;
  $definition-base: 6em;

  $font-base-text   : $font-base * 0.8;
  $font-base-title  : $font-base;
  $font-base-artist : $font-base;
  $font-base-gallery: $font-base;

  padding: 0.5 * $padding-base $padding-base;

  .title {
    font-weight: bold;
    text-align : center;
  }
  .artist {
    text-align: center;
  }
  .gallery {
    text-align: center;
  }

  /* meta information */
  dl {
    text-align    : left;
    line-height   : 1.4;
    padding-bottom: 1rem;

    dt {
      width: $definition-base;
      float: left;
      clear: left;

      text-align : right;
      font-family: 'Open Sans';
      font-weight: bold;
    }
    dd { margin-left: $definition-base + 1.5em; }
  }

  /* responsive font sizes */
  &.small {
    dl { font-size: $font-base-text; }
    .title   { font-size: $font-base-title; }
    .artist  { font-size: $font-base-artist; }
    .gallery { font-size: $font-base-gallery; }
  }
  &.medium {
    dl { font-size: $font-base-text * 1.2; }
    .title   { font-size: $font-base-title * 1.2; }
    .artist  { font-size: $font-base-artist * 1.2; }
    .gallery { font-size: $font-base-gallery * 1.2; }
  }
  &.large {
    dl { font-size: $font-base-text * 1.5; }
    .title   { font-size: $font-base-title * 1.5; }
    .artist  { font-size: $font-base-artist * 1.5; }
    .gallery { font-size: $font-base-gallery * 1.5;}
  }
}
