//-------------------------------------------------------------------
// .bu.cover front/back styles
//-------------------------------------------------------------------
.bu .cover.front {

  // font-size multiplication rules
  // 1) small : 1
  // 2) medium: 1.5
  // 3) large : 2
  //
  // (*) must accomodate three lines of title in reasonable width screens

  $padding-base: 1rem;
  $font-base   : 1rem;

  $font-base-brand    : $font-base * 0.75;
  $font-base-title    : $font-base * 1.25;
  $font-base-sub-title: $font-base * 1.1;
  $font-base-author   : $font-base * 1;

  line-height: 1;

  .brand, .title, .author {
    padding: 0.5 * $padding-base $padding-base;
  }
  .brand {
    color: white;
    text-align: left;
    text-weight: bold;
    background-color: orange;
  }
  .title {
    color: black;
    font-weight: bold;
    text-align : center;
  }
  .sub-title {
    color: black;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
  }
  .author {
    color: black;
    font-weight: 200;
    text-align: center;
  }

  /* small */
  &.small {
    .brand      { font-size: $font-base-brand; }
    .title      { font-size: $font-base-title; }
    .sub-title  { font-size: $font-base-sub-title; }
    .author     { font-size: $font-base-author; }
  }
  &.medium {
    .brand      { font-size: 1.5 * $font-base-brand; }
    .title      { font-size: 1.5 * $font-base-title; }
    .sub-title  { font-size: 1.5 * $font-base-sub-title; }
    .author     { font-size: 1.5 * $font-base-author; }
  }
  &.large {
    .brand      { font-size: 2 * $font-base-brand; }
    .title      { font-size: 2 * $font-base-title; }
    .sub-title  { font-size: 2 * $font-base-sub-title; }
    .author     { font-size: 2 * $font-base-author; }
  }
}

.bu .cover.back {

  a { text-decoration: none; }

  $padding-base   : 2rem;
  $font-base      : 0.8rem;
  $definition-base: 50px;

  $font-base-text   : $font-base * .75;
  $font-base-title  : $font-base * 1;
  $font-base-artist : $font-base * 1;
  $font-base-gallery: $font-base * 0.8;

  padding: 0.5 * $padding-base $padding-base;

  .cover-art {
    height: 25%;
  }
  .title {
    font-weight: bold;
    text-align: center;
    &:before {
      content: "";
    }
  }
  .artist {
    text-align: center;
    font-style: italic;
    &:before {
      content: "";
    }
  }
  .gallery {
    text-align: center;
    &:before {
      content: "";
    }
  }

  &.small {
    font-size: $font-base-text;
    .title   { font-size: $font-base-title; }
    .artist  { font-size: $font-base-artist; }
    .gallery { font-size: $font-base-gallery;}
  }
  &.medium {
    font-size: $font-base-text * 1.2;
    .title   { font-size: $font-base-title * 1.2; }
    .artist  { font-size: $font-base-artist * 1.2; }
    .gallery { font-size: $font-base-gallery * 1.2;}
  }
  &.large {
    font-size: $font-base-text * 1.25;
    .title   { font-size: $font-base-title * 1.5; }
    .artist  { font-size: $font-base-artist * 1.5; }
    .gallery { font-size: $font-base-gallery * 1.5;}
  }

  /* meta information */
  dl {
    dt {
      float: left;
      clear: left;
      text-align: right;
      font-weight: bold;
    }
  }
  &.small {
    font-size: $font-base-text;
    dl dt { width: $definition-base; }
    dd    { margin-left: $definition-base + 8px; }
  }
  &.medium, &.large {
    font-size: $font-base-text * 1.25;
    dl dt { width: 1.5 *$definition-base; }
    dd    { margin-left: 1.5 * $definition-base + 16px; }
  }
}
