//-------------------------------------------------------------------
// bu.content
//-------------------------------------------------------------------
.bu.content {
  position  : absolute;
  width     : 100%;
  height    : 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  font-weight   : 400;
  white-space   : normal;
  text-align    : justify;
  vertical-align: baseline;

  text-rendering        : optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
