//-------------------------------------------------------------------
// bu.fonts
//-------------------------------------------------------------------

.bu.content {
  font-family: $buFontSerif !important;

  h1, h2, h3, h4, h5, h6 {
    font-family: $buFontSans !important;
  }

  code, pre {
    font-family: $buFontMono !important;
  }
}

