//-------------------------------------------------------------------
// bu.flex
//-------------------------------------------------------------------
.bu .flex.column {
  height: 100% !important;
  display: flex;
  flex-direction: column;

  & > .expand {
    flex-grow  : 1;
    flex-shrink: 1;
  }
}
.bu .flex.row {
  width: 100% !important;
  display: flex;
  flex-direction: row;

  & > .expand {
    flex-grow  : 1;
    flex-shrink: 1;
  }
}
