//-------------------------------------------------------------------
// bu.inlines
//-------------------------------------------------------------------

.bu.content {
  i {
    font-style: italic;
  }
  a {
    text-decoration: underline;
  }
  em {
    font-style: italic;
  }
  sub,
  sup {
    font-size     : 75%;
    line-height   : 0;
    position      : relative;
    vertical-align: baseline;
    white-space   : nowrap;
  }
  sup {
    top: -0.45rem;
    & > a {
      text-decoration: none;
    }
  }
  sub {
    bottom: -0.225rem;
    & > a {
      text-decoration: none;
    }
  }
}
