//-------------------------------------------------------------------
// bu.paragraphs
//-------------------------------------------------------------------
// HTML elements: p, ol, ul, dl
//-------------------------------------------------------------------

%paragraph {
  margin : $buParagraphMargin;
  padding: $buParagraphPadding;
}

.bu.content {
  p, ol, ul, dl { @extend %paragraph; }

  p {
    text-indent: $buParagraphIndent;
    text-align : justify;
  }
}

.bu.content img {
  @extend %paragraph;

  @if $buPictureExtend == true {
    padding: 0 0;
  }

  max-width     : 100%;
  margin-left   : auto;
  margin-right  : auto;
  height        : auto;
  vertical-align: bottom;
}

//-------------------------------------------------------------------
// CHAPTER TITLE
//-------------------------------------------------------------------
.bu.content {
  #{$buChapterTitleElements} {

    font-family: $buChapterTitleFont;
    text-align : $buChapterTitleAlign;
    font-style : $buChapterTitleStyle;

    & + p {
      @if $buUnindentFirstParagraph { text-indent: 0; }
      @if $buDropcapFirstParagraph  {
        &:first-letter {
          font-size  : 2.5em;
          line-height: 1;
        }
      }
    }
  }
}

//---------------------------------------------------------
// element: h1, h2, h3, h4, h5, h6
//---------------------------------------------------------
@mixin heading($level) {
  font-size: $buHeadingFontSizeBase  + (6 - $level) * 0.2rem;
  margin   : $buHeadingMarginTopBase + (6 - $level) * 0.05rem 0 $buHeadingMarginBottomBase + (6 - $level) * 0.1rem 0;
}

.bu.content {
  h1, h2, h3, h4, h5, h6 {
    @extend %paragraph;

    line-height: $buLineHeightHeading;
    font-weight: bold;
    border     : none;
    text-align : left;
  }
}

.bu.content {
  h1 { @include heading(1); }
  h2 { @include heading(2); }
  h3 { @include heading(3); }
  h4 { @include heading(4); }
  h5 { @include heading(5); }
  h6 { @include heading(6); }
}

.bu.content hr {
  width     : 50%;
  text-align: center;
}

//---------------------------------------------------------
// element: ul, ol
//---------------------------------------------------------
.bu.content {
  ol, ul, dl {
    @extend %paragraph;
    text-align: left;
  }
  /* deep paragraphs */
  ul ol,
  ol ul,
  ul ul,
  ol ol {
    margin-bottom: 0;
    padding: 0 0 0 $buIndent;
  }
}
ol,
.bu.content ul {
  padding   : $buParagraphPadding;
  margin    : .25rem 0 0 0 !important;
  text-align: left;
  li {
    padding: 0 0;
  }
}

.bu.content {
}

//---------------------------------------------------------
// element: dl, dt, dd
//---------------------------------------------------------
.bu.content dl {
  dt {
    float: left;
    clear: left;
    font-family: $buFontSans;
    font-weight: bold;
  }
}
