//
// bu.paragraphs
//

.bu.content %paragraph {
  padding: $buParagraphPadding;
}

p {
  @extend %paragraph;

  text-indent: $buParagraphIndent;
  text-align : justify;
  margin     : 0 0 1rem 0;
}

/* image */
img {

  @if $buPictureExtend == false {
    @extend %paragraph;
  }
  max-width     : 100%;
  margin        : 0 auto;
  height        : auto;
  margin        : 0 0 1rem 0;
  vertical-align: bottom;
}

// CHAPTER TITLE
.bu.content {
  #{$buChapterTitleElements} {
    font-family: $buChapterTitleFont !important;
    text-align : $buChapterTitleAlign;
    @if $buChapterTitleBold { font-style: bold; }

    & + p {
      @if $buUnindentFirstParagraph { text-indent: 0; }
      @if $buDropcapFirstParagraph  {
        &:first-letter {
          font-size  : 2.5em;
          line-height: 1;
        }
      }
    }
  }
}

//---------------------------------------------------------
// element: h1, h2, h3, h4, h5, h6
//---------------------------------------------------------
@mixin heading($level) {
  font-size: $buHeadingFontSizeBase  + (6 - $level) * 0.2rem;
  margin   : $buHeadingMarginTopBase + (6 - $level) * 0.05rem 0 $buHeadingMarginBottomBase + (6 - $level) * 0.1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  @extend %paragraph;

  line-height: $buLineHeightHeading;
  font-weight: bold;
  border     : none;
  text-align : left;
}

.bu.content {
  h1 { @include heading(1); }
  h2 { @include heading(2); }
  h3 { @include heading(3); }
  h4 { @include heading(4); }
  h5 { @include heading(5); }
  h6 { @include heading(6); }
}

.bu.content hr {
  width     : 50%;
  text-align: center;
}
