//-------------------------------------------------------------------
// bu.skin.default
//-------------------------------------------------------------------

$buColorBlue  : #3d88c7; /* special element */
$buColorRed   : #f05656; /* errors and so on */
$buColorGreen : #2fb88b; /* success and so on */
$buColorDark  : #444444; /* text colors */
$buColorMedium: #888888; /* text colors light or dark lines */
$buColorLight : #d3d3d3; /* text color lightest or medium lines */
