//-------------------------------------------------------------------
// bu.variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
// CONSTANTS
//-------------------------------------------------------------------
$device-small-max : 480px;   // small <= 480
$device-medium-min: 481px;   // medium - min: 481px
$device-medium-max: 1023px;  // medium - max: 1023px
$device-large-min : 1024px;  // 1024 <= large

/* colors */
$buColorText   : $buColorDark;
$buColorHeading: darken($buColorDark, 10%);

/* font size */
$buFontSizeSmall : 16px;
$buFontSizeMedium: 18px;
$buFontSizeLarge : 18px;

$buLineHeightSmall : 1.4;
$buLineHeightMedium: 1.6;
$buLineHeightLarge : 1.6;

$buLineHeightHeading: 1.2;

/* special stylings */
$buUnindentFirstParagraph: true; // no indentation for first paragraph
$buDropcapFirstParagraph : true; // dropcap first letter

/* bu.paragraphs */
$buParagraphPadding     : 0 1.5rem;
$buParagraphMarginBottom: 1rem;
$buParagraphIndent      : 1.25rem;

/* chapter titles */
$buChapterTitleElements: h2, h3;
$buChapterTitleAlign   : center;
$buChapterTitleBold    : true;
$buChapterTitleFont    : $buFontSerif;

/* bu.blocks */
$buBlockPadding     : 0 0;
$buBlockMarginBottom: 1rem;


$bukPrimaryGreenColor: #2fb88b;
$bukPrimaryBlueColor : #3d88c7;

$bukLineColorLight   : #f4f4f4;
$bukLineColorMedium  : #e5e5e5;
$bukLineColorDark    : #d3d3d3;

$bukBackgroundColorLightest : #f8f8f8;
$bukBackgroundColorLight    : #d8d8d8;
$bukBackgroundColorMedium   : #c5c5c5;
$bukBackgroundColorDark     : #999999;

$bukTextColorRed  : #f05656;
$bukTextColorGreen: $bukPrimaryGreenColor;
$bukTextColorBlue : $bukPrimaryBlueColor;

$bukTextColorLightest: #c3c3c3;
$bukTextColorLight   : #999999;
$bukTextColorMedium  : #888888;
$bukTextColorDark    : #444444;
$bukTextColorBlack   : #111111;


//-------------------------------------------------------------------
// configurations
//-------------------------------------------------------------------
/* padding */
$bukContentPadding   : 1rem;

/* basic text */
$bukTextColor          : $bukTextColorDark;
$bukTextBackgroundColor: #fff;
$bukTextLineHeight     : 1.6;
$bukCaptionLineHeight  : 1.4;

/* text colors */
$bukTextColor   : $bukTextColorDark;
$bukLinkColor   : $bukTextColor;
$bukHeadingColor: $bukTextColor;

$bukFontContent: 'Noto Serif', serif;
$bukFontHeader : $bukFontContent;
$bukFontQuote  : $bukFontContent;
$bukFontCode   : 'Open Sans', sans-serif;

$bukFontSizeSmall : 16px;
$bukFontSizeMedium: 18px;
$bukFontSizeLarge : 18px;

$bukLineHeightSmall : 1.6;
$bukLineHeightMedium: 1.6;
$bukLineHeightLarge : 1.6;

$bukHeadingLineHeight: 1.6;

/* message */
$bukMessageColor          : $bukTextColorDark;
$bukMessageBackgroundColor: $bukBackgroundColorLightest;
$bukMessageBorderRadius   : 0;
