//-------------------------------------------------------------------
// bu.variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
// BU-RESPONSIVE (mixin)
//-------------------------------------------------------------------
$buResponsiveSmallMax : 480px;   // small <= 480
$buResponsiveMediumMin: 481px;   // medium  min: 481px
$buResponsiveMediumMax: 1023px;  // medium  max: 1023px
$buResponsiveLargeMin : 1024px;  // 1024 <= large

//-------------------------------------------------------------------
// INDENT, BLOCK SEPARATION, PARAGRAPH SEPARATION
//-------------------------------------------------------------------
$buHSpace         : 1.5rem;
$buIndent         : 1.2rem;
$buBlockVSpace    : 1.2rem;
$buParagraphVSpace: 1.0rem;
$buLineVSpace     : 0;

//-------------------------------------------------------------------
// COLORS
//-------------------------------------------------------------------
$buColorText   : $buColorDark;
$buColorHeading: darken($buColorDark, 10%);

//-------------------------------------------------------------------
// FONT SIZE (Global)
//-------------------------------------------------------------------
$buFontSizeSmall : 16px;
$buFontSizeMedium: $buFontSizeSmall  * 1.1;
$buFontSizeLarge : $buFontSizeMedium * 1.1;

$buLineHeightSmall : 1.4;
$buLineHeightMedium: 1.6;
$buLineHeightLarge : 1.6;

$buLineHeightHeading: 1.2;

/* special stylings */
$buUnindentFirstParagraph: false; // no indentation for first paragraph
$buDropcapFirstParagraph : false; // dropcap first letter

//-------------------------------------------------------------------
// BLOCK
//-------------------------------------------------------------------
$buBlockPadding: 0.5rem $buHSpace;
$buBlockMargin : 0 0 $buBlockVSpace 0;

//-------------------------------------------------------------------
// PARAGRAPH
//-------------------------------------------------------------------
$buParagraphPadding     : 0 $buHSpace;
$buParagraphMargin      : 0 0 $buParagraphVSpace 0;
$buParagraphIndent      : 0;

// img (picture element)
$buPictureExtend        : false;

// h1,h2,h3,h4,h5,h6 //
$buHeadingFontSizeBase    : 0.8rem;
$buHeadingMarginTopBase   : 0.3rem;
$buHeadingMarginBottomBase: 0.5rem;

// chapter titles //
$buChapterTitleElements: h1, h2, h3;
$buChapterTitleAlign   : center;
$buChapterTitleStyle   : bold;
$buChapterTitleFont    : $buFontSerif;
