#
# ignore patterns
#

#----------------------------------------------------------
# editor - sublime text
#----------------------------------------------------------
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

#----------------------------------------------------------
# language - sass
#----------------------------------------------------------
.sass-cache
*.css.map

#----------------------------------------------------------
# environment - osx
#----------------------------------------------------------
.dropbox
.DS_Store

#----------------------------------------------------------
# aws publish cache list
#----------------------------------------------------------
.awspublish-*

#----------------------------------------------------------
# framework - nodejs
#----------------------------------------------------------
/npm-debug.log
/node_modules

#----------------------------------------------------------
# framework - bower
#----------------------------------------------------------
/bower_components

#----------------------------------------------------------
# build outputs
#----------------------------------------------------------
/build
