//-------------------------------------------------------------------
// bu.lang.en (language: EN)
//-------------------------------------------------------------------

$buFontSerif: "Noto Serif", Georgia, serif;
$buFontSans : "Open Sans", Arial, Helvetica, sans-serif;
$buFontMono : "Source Code Pro", "Courier New", Courier, monospace;
